body{
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.hero-text{
    color: rgb(255, 251, 251);
    padding-top: 250px;
}
.nav-link{
    color: rgb(255, 251, 251);
}
.nav-link:hover{
    color:#3399FF;
}
.active{
    color:#3399FF;
}
.btn{
    background-color: #3399FF;
}
.btn:hover{
    color: #3399FF;
    background-color: rgb(255, 251, 251);
}